@import url("reset.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}
nav li {
    margin: 0;
}
nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #7e7b7b;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    margin-right: auto; 
    display: block; 
}

@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .navbar-collapse {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }

    .navbar-nav .nav-item {
        margin: 0 15px;
    }
}

#content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.entity {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.entity:hover {
    background-color: #f0f0f0;
}

.entity-details {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.entity-details {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 20%;
}

.entity-image {
    max-height: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.entity-details h2 {
    font-size: 1.5rem;
    margin: 0;
}

.entity-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.entity-details th,
.entity-details td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

